[core]
	ignorecase = false
	excludesfile = ~/.gitignore_global
	editor = vim
	whitespace = -trailing-space
[user]
	name = Pragy Agarwal
	email = agar.pragy@gmail.com
[color]
	ui = auto
[pull]
	ff = only

